<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flower Tale</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
	<link media="all" rel="stylesheet" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js" defer><\/script>')</script>
	<script src="js/jquery.main.js" defer></script>
</head>
<body class="home">
	<div id="wrapper">
		<header id="header">
			<div class="container">
				<div class="logo">
					<a href="#">
						<img src="images/logo.png" alt="Flower Tale">
					</a>
				</div>
				<div id="nav">
					<ul class="navigation">
						<li><a href="#">Квіти та Букети</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Магазини </a></li>
						<li><a href="#">Контакти</a></li>
					</ul>
					<ul class="shop-nav">
						<li><a href="#"><span class="icon-shopping-bag"></span></a></li>
						<li><a href="#"><span class="icon-user"></span></a></li>
					</ul>
				</div>
			</div>
		</header>
		<main id="main">
			<section class="hero-banner">
				<div class="container">
					<div class="col">
						<div class="block">
							<h1 class="h2">Твій букет говорить за тебе</h1>
							<p>Створюємо букети по вашим побажанням</p>
							<a href="#" class="btn">Перейти в каталог</a>
						</div>
					</div>
					<div class="col">
						<div class="image-holder page-right-side">
							<img src="images/img01.png" alt="image description">
						</div>
					</div>
				</div>
			</section>
			<section class="flower-slider">
				<div class="decor"><img src="images/decor01.png" alt="image description"></div>
				<div class="container">
					<div class="top">
						<h2 class="title-section">Популярні букети</h2>
						<div class="over-btn">
							<a href="#" class="btn btn-secondary">Більше букетів</a>
						</div>
					</div>
					<div class="box-slider">
						<div class="col">
							<div class="box light">
								<img src="images/img02.png" alt="image description">
								<h3 class="title">Джульєтта</h3>
								<span class="price">8000 грн </span>
								<a href="#" class="btn btn-shop"><i class="icon icon-shop"></i> В кошик </a>
							</div>
						</div>
						<div class="col">
							<div class="box">
								<img src="images/img03.png" alt="image description">
								<h3 class="title">Літня солодкість </h3>
								<span class="price">3700 грн </span>
								<a href="#" class="btn btn-shop"><i class="icon icon-shop"></i> В кошик </a>
							</div>
						</div>
						<div class="col">
							<div class="box light">
								<img src="images/img04.png" alt="image description">
								<h3 class="title">Кущові троянди </h3>
								<span class="price">48000 грн </span>
								<a href="#" class="btn btn-shop"><i class="icon icon-shop"></i> В кошик </a>
							</div>
						</div>
						<div class="col">
							<div class="box">
								<img src="images/img03.png" alt="image description">
								<h3 class="title">Літня солодкість </h3>
								<span class="price">3700 грн </span>
								<a href="#" class="btn btn-shop"><i class="icon icon-shop"></i> В кошик </a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="about-us">
				<div class="logo-section">
					<img src="images/logo-inn.png" alt="Flower Tale">
				</div>
				<div class="holder">
					<div class="col">
						<div class="decor">
							<img src="images/decor02.png" alt="image description">
						</div>
						<h2 class="h1">Про нас</h2>
						<p>Історія компанії почалася багато років тому, коли  Анна  ​​вирішила об'єднати свої зусилля і відкрити власний квітковий бізнес. Вона мала великий досвід у вирощуванні та продажу квітів, а також страсть до творчості та дизайну. Це було створено місце, де кожен клієнт міг би знайти ідеальні кольори для будь-якого випадку.</p>
						<p>Анна почала з невеликого квіткового магазину, який знаходився в невеликому приміщенні в центрі міста. Іх продукція була унікальною і якісною, що притягнуло безліч клієнтів. З протягом часу вони розширили асортимент, додавши додаткові послуги, такі як оформлення свадеб і корпоративних заходів кольоровими композиціями.</p>
					</div>
					<div class="col">
						<img class="full" src="images/img05.png" alt="image description">
						<div class="decor">
							<img src="images/decor03.png" alt="image description">
						</div>
					</div>
				</div>
			</section>
			<section class="our-comand">
				<div class="container">
					<h2 class="title-section"><span>Співробітники</span></h2>
					<div class="row">
						<div class="col">
							<div class="block">
								<div class="img-holder">
									<img src="images/img06.png" alt="sophi">
								</div>
								<div class="text-holder">
									<span class="name">Софі</span>
									<span class="st">3 роки стажу </span>
									<ul class="stars">
										<li><img src="images/img-star.png" alt="image star"></li>
										<li><img src="images/img-star.png" alt="image star"></li>
										<li><img src="images/img-star.png" alt="image star"></li>
										<li><img src="images/img-star.png" alt="image star"></li>
										<li><img src="images/img-star.png" alt="image star"></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="block">
								<div class="img-holder">
									<img src="images/img07.png" alt="sophi">
								</div>
								<div class="text-holder">
									<span class="name">Ганна</span>
									<span class="st">7 років стажу</span>
									<ul class="stars">
										<li><img src="images/img-star.png" alt="image star"></li>
										<li><img src="images/img-star.png" alt="image star"></li>
										<li><img src="images/img-star.png" alt="image star"></li>
										<li><img src="images/img-star.png" alt="image star"></li>
										<li><img src="images/img-star.png" alt="image star"></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="block">
								<div class="img-holder">
									<img src="images/img08.png" alt="sophi">
								</div>
								<div class="text-holder">
									<span class="name">Емілія</span>
									<span class="st">4 роки стажу</span>
									<ul class="stars">
										<li><img src="images/img-star.png" alt="image star"></li>
										<li><img src="images/img-star.png" alt="image star"></li>
										<li><img src="images/img-star.png" alt="image star"></li>
										<li><img src="images/img-star.png" alt="image star"></li>
										<li><img src="images/img-star.png" alt="image star"></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="zakaz">
				<div class="container">
					<h2 class="title-section">Як зробити замовлення</h2>
				</div>
				<div class="row">
					<div class="col">
						<div class="box">
							<h3>КАТАЛОГ</h3>
							<p>Вибираєте букет на сайті і ми зберемо один на один, або майже один на один) З урахуванням сезонності квітки та поточної наявності. Після складання букета направимо вам фото на погодження.</p>
							<a class="more" href="#">Дивитися каталог <span class="icon icon-arrow"></span></a>
						</div>
					</div>
					<div class="col">
						<div class="box">
							<h3>ПО БАЖАННЮ</h3>
							<p>Наприклад, рожевий, без лілій та гвоздик на бюджет до 10 тисяч. З урахуванням сезонності та поточної наявності квітки зберемо букет і направимо вам фото на погодження.</p>
							<a class="more" href="#">Написати в Telegram<span class="icon icon-arrow"></span></a>
						</div>
					</div>
					<div class="col">
						<div class="box">
							<h3>ПО ФОТО</h3>
							<p>Надсилаєте фото-референс з побажаннями щодо бюджету (фото краще наше, конкурентів не підсиджуємо, в демпінг не граємо). З урахуванням сезонності та поточної наявності квітки зберемо букет і направимо вам фото на погодження.</p>
							<a class="more" href="#">Написати в Telegram<span class="icon icon-arrow"></span></a>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer id="footer">
			<div class="container">
				<div class="col-left">
					<div class="logo">
						<a href="#">
							<img src="images/logo.png" alt="Flower Tale">
						</a>
					</div>
					<ul class="social-links">
						<li><a href="#"><span class="icon-telegram"></span></a></li>
						<li><a href="#"><span class="icon-pinterest-square"></span></a></li>
						<li><a href="#"><span class="icon-instagram"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
					</ul>
				</div>
				<div class="col-right">
					<ul class="navigation">
						<li><a href="#">Квіти та Букети</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Магазини </a></li>
						<li><a href="#">Контакти</a></li>
						<li>
							<a href="#">Часто шукають</a>
							<ul>
								<li><a href="#">Букети</a></li>
								<li><a href="#">Квіти поштучно </a></li>
								<li><a href="#">Подарунки </a></li>
								<li><a href="#">Акції</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<p class="copyright">© 2024 Copyright by <a href="#">Sonia</a></p>
			</div>
		</footer>
	</div>
</body>
</html>