<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flower Tale</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
	<link media="all" rel="stylesheet" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js" defer><\/script>')</script>
	<script src="js/jquery.main.js" defer></script>
</head>
<body class="home">
	<div id="wrapper">
		<header id="header">
			<div class="container">
				<div class="logo">
					<a href="#">
						<img src="images/logo.png" alt="Flower Tale">
					</a>
				</div>
				<div id="nav">
					<ul class="navigation">
						<li><a href="#">Квіти та Букети</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Магазини </a></li>
						<li><a href="#">Контакти</a></li>
					</ul>
					<ul class="shop-nav">
						<li><a href="#"><span class="icon-shopping-bag"></span></a></li>
						<li><a href="#"><span class="icon-user"></span></a></li>
					</ul>
				</div>
			</div>
		</header>
		<main id="main">
			<section class="shop">
				<div class="container">
					<ul class="breadcrumbs">
						<li><a href="#">Головна </a> /</li>
						<li><a href="#">Квіти та Букети</a> /</li>
						<li><a href="#">Авторські букети </a> /</li>
						<li><span>Кошик</span></li>
					</ul>
					<form class="form-shop" action="#">
						<div class="col">
							<h3>Контакти</h3>
							<div class="holder">
								<div class="column">
									<input type="text" placeholder="Ваше ім’я">
								</div>
								<div class="column">
									<input type="email" placeholder="Email">
								</div>
								<div class="column">
									<input type="text" placeholder="Прізвище">
								</div>
								<div class="column">
									<input type="tel" placeholder="Телефон">
								</div>
							</div>
							<div class="over-ch">
								<input type="checkbox" name="ch" id="ch">
								<label for="ch">Натискаючи, ви  погоджуетесь з політикой обробки персональних даних </label>
							</div>
							<h3>Адреса</h3>
							<div class="holder">
								<div class="column">
									<input type="text" placeholder="Місто">
								</div>
								<div class="column">
									<input type="email" placeholder="Область">
								</div>
								<div class="column">
									<input type="text" placeholder="Адреса">
								</div>
								<div class="column">
									<input type="tel" placeholder="Під’їзд  ">
								</div>
							</div>
							<div class="btn-holder">
								<input type="submit" value="Оплатити">
							</div>
						</div>
						<div class="col">
							<h3>Підсумок</h3>
							<div class="box">
								<div class="product-info">
									<div class="img-holder">
										<img src="images/img09.png" alt="image description">
										<input type="number" value="1" min="0">
									</div>
									<div class="txt-holder">
										<h4>Аромати літа</h4>
										<h5>Опис</h5>
										<p>Гортензія, Півонія, Кущова трояндаВайт Майоліка, Роза Світ Ескімо, Роза Світ фо Лав, Маттіола, Оксипеталум, Еустома, Маліна.</p>
										<span class="price">3500 грн</span>
										<div class="inn">
											<div class="td">Знижка</div>
											<div class="td">0</div>
										</div>
										<div class="delivery">
											<div class="td">Доставка</div>
											<div class="td">Безкоштовно</div>
										</div>
										<div class="all">
											<div class="td">Підсумок</div>
											<div class="td">3500 грн</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</section>
		</main>
		<footer id="footer">
			<div class="container">
				<div class="col-left">
					<div class="logo">
						<a href="#">
							<img src="images/logo.png" alt="Flower Tale">
						</a>
					</div>
					<ul class="social-links">
						<li><a href="#"><span class="icon-telegram"></span></a></li>
						<li><a href="#"><span class="icon-pinterest-square"></span></a></li>
						<li><a href="#"><span class="icon-instagram"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
					</ul>
				</div>
				<div class="col-right">
					<ul class="navigation">
						<li><a href="#">Квіти та Букети</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Магазини </a></li>
						<li><a href="#">Контакти</a></li>
						<li>
							<a href="#">Часто шукають</a>
							<ul>
								<li><a href="#">Букети</a></li>
								<li><a href="#">Квіти поштучно </a></li>
								<li><a href="#">Подарунки </a></li>
								<li><a href="#">Акції</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<p class="copyright">© 2024 Copyright by <a href="#">Sonia</a></p>
			</div>
		</footer>
	</div>
</body>
</html>