<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flower Tale</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
	<link media="all" rel="stylesheet" href="style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>
	<script>window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js" defer><\/script>')</script>
	<script src="js/jquery.main.js" defer></script>
</head>
<body class="home">
	<div id="wrapper">
		<header id="header">
			<div class="container">
				<div class="logo">
					<a href="#">
						<img src="images/logo.png" alt="Flower Tale">
					</a>
				</div>
				<div id="nav">
					<ul class="navigation">
						<li><a href="#">Квіти та Букети</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Магазини </a></li>
						<li><a href="#">Контакти</a></li>
					</ul>
					<ul class="shop-nav">
						<li><a href="#"><span class="icon-shopping-bag"></span></a></li>
						<li><a href="#"><span class="icon-user"></span></a></li>
					</ul>
				</div>
			</div>
		</header>
		<main id="main">
			<section class="single-prod-info">
				<div class="container">
					<ul class="breadcrumbs">
						<li><a href="#">Головна </a> /</li>
						<li><a href="#">Квіти та Букети</a> /</li>
						<li><span>Авторські букети </span></li>
					</ul>
					<div class="post-wrap">
						<div class="col">
							<div class="box">
								<div class="img-holder">
									<img src="images/img04.png" alt="image description">
								</div>
								<div class="text-holder">
									<h3 class="title">Ніжність</h3>
									<span class="price">12000</span>
									<span class="all">В наявності</span>
								</div>
							</div>
						</div>
						<div class="col">
							<ul class="accordion">
								<li>
									<a href="#" class="opener">Опис</a>
									<div class="slide">
										<p>Букет, в який вкладено багато кохання. Флористи студії Flower Tale зробили його із найсвіжіших кольорів, ретельно продумавши його склад. Тепер він готовий здивувати красою свого отримувача!</p>
									</div>
								</li>
								<li>
									<a href="#" class="opener">Склад</a>
									<div class="slide">
										<p>Півоноподібна троянда, Гортензія (Гідрангія), Маттіола, Аспарагус</p>
									</div>
								</li>
								<li>
									<a href="#" class="opener">Розмір</a>
									<div class="slide">
										<p>Півоноподібна троянда, Гортензія (Гідрангія), Маттіола, Аспарагус</p>
									</div>
								</li>
							</ul>
							<div class="btn-holder">
								<a href="#" class="btn btn-shop"><i class="icon icon-shop"></i> В кошик </a> 
								<a href="#" class="like"><img width="40" src="images/icon-heart.png" alt="heart"></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="similar-products">
				<div class="container">
					<h2 class="title">Схожі букети</h2>
					<div class="posts-holder">
						<div class="col">
							<div class="box light">
								<a href="#"><img src="images/img02.png" alt="image description"></a>
								<h3 class="title">Джульєтта</h3>
								<span class="price">8000 грн </span>
								<a href="#" class="btn btn-shop"><i class="icon icon-shop"></i> В кошик </a>
							</div>
						</div>
						<div class="col">
							<div class="box">
								<a href="#"><img src="images/img03.png" alt="image description"></a>
								<h3 class="title">Літня солодкість </h3>
								<span class="price">3700 грн </span>
								<a href="#" class="btn btn-shop"><i class="icon icon-shop"></i> В кошик </a>
							</div>
						</div>
						<div class="col">
							<div class="box light">
								<a href="#"><img src="images/img04.png" alt="image description"></a>
								<h3 class="title">Кущові троянди </h3>
								<span class="price">48000 грн </span>
								<a href="#" class="btn btn-shop"><i class="icon icon-shop"></i> В кошик </a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer id="footer">
			<div class="container">
				<div class="col-left">
					<div class="logo">
						<a href="#">
							<img src="images/logo.png" alt="Flower Tale">
						</a>
					</div>
					<ul class="social-links">
						<li><a href="#"><span class="icon-telegram"></span></a></li>
						<li><a href="#"><span class="icon-pinterest-square"></span></a></li>
						<li><a href="#"><span class="icon-instagram"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
					</ul>
				</div>
				<div class="col-right">
					<ul class="navigation">
						<li><a href="#">Квіти та Букети</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Магазини </a></li>
						<li><a href="#">Контакти</a></li>
						<li>
							<a href="#">Часто шукають</a>
							<ul>
								<li><a href="#">Букети</a></li>
								<li><a href="#">Квіти поштучно </a></li>
								<li><a href="#">Подарунки </a></li>
								<li><a href="#">Акції</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<p class="copyright">© 2024 Copyright by <a href="#">Sonia</a></p>
			</div>
		</footer>
	</div>
</body>
</html>